.delivery-area-search {
  border-radius: 12px;
  background: #f1f1f1;
  width: 100%;
  padding: 4px 14px;
  display: flex;
  justify-content: space-around;
  gap: 11px;
  align-items: center;
  height: 33px;
  overflow: hidden;
}

.delivery-area-search-input {
  resize: none;
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.33;
  letter-spacing: -0.2px;
  border: none;
  background: #f1f1f1;
  padding: 0 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.delivery-area-search-input:focus {
  border: none;
  outline: none;
}
