.tabs {
  position: relative;
}

.tabs:after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
  border-radius: 8px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--vendor-color);
  height: 100%;
  z-index: 0;
}

.tabs.left:after,
html[dir="rtl"] .tabs.right:after {
  left: 0;
}

.tabs.right:after,
html[dir="rtl"] .tabs.left:after {
  left: 50%;
}

.tabs .innerTabs.active {
  color: #ffffff;
}

.tabs.selector-full .innerTabs {
  width: 100%;
}

.tabs.selector-full:after {
  left: 0;
}

.selector-full.tabs:after {
  width: 100%;
}

.innerTabs {
  display: inline-block;
  width: 50%;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: color 500ms;
  font-weight: bold;
  line-height: normal;
  user-select: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 7px;
}

html[dir="rtl"] .innerTabs {
  font-size: 18px;
}

.modeSelector-tabsNew .innerTabs.active {
  color: #ffffff;
}

.modeSelector-tabsNew.selector-full .innerTabs {
  width: 100%;
}
