@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("leaflet/dist/leaflet.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vendor-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #000;
  /* background: var(--background); */
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none; /* Firefox */
  overflow: visible;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html[dir="rtl"] body {
  font-family: Orleen !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact-details-bottom-button {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  left: 0;
  /* display: grid;
  grid-template-columns: 30% calc(70% - 12px); */
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.contact-details-next-button {
  border-radius: 40px;
  font-size: 16px;
  border: 1.5px solid var(--vendor-color);
  color: #fff;
  padding: 10px;
  display: flex;
  font-weight: 400;
  background-color: var(--vendor-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 100%;
  text-align: center;
  /* width: 206px; */
}
input {
  width: 100%;
}

.deliveryInfoMainDIv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #e8e6e6;
  border-radius: 10px;
}

.checkoutPageText {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

html[dir="rtl"] .checkoutPageText {
  font-size: 14px;
}

.buyer-details-secondDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buyer-details-secondDiv .right-arrow {
  font-size: 20px;
  color: #000;
}

html[dir="rtl"] .buyer-details-secondDiv .right-arrow {
  margin-right: 20px;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.checkoutPageText {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

html[dir="rtl"] .checkoutPageText {
  font-size: 14px;
}

.newreview-details-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  border-radius: 8px;
  height: 45px;
  background-color: rgba(242, 242, 242, 0.5);
  margin: 20px 0;
}

.newreview-text {
  min-height: 30px;
  display: flex;
  font-weight: 500;
  align-items: center;
  vertical-align: middle;
  font-size: 16px;
}

.newreview-button-div {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
  left: 20px;
  background-color: rgba(73, 71, 71, 0.07);
}

html[dir="rtl"] .newreview-button-div {
  right: 20px;
}

.contact-details-bottom-button {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  left: 0;
  /* display: grid;
  grid-template-columns: 30% calc(70% - 12px); */
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.contact-details-back-button {
  border-radius: 40px;
  height: 45px;
  color: var(--vendor-color);
  border: 2px solid var(--vendor-color);
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  /* width: 143px; */
  align-items: center;
}

.contact-details-back-button:hover {
  background-color: var(--vendor-hover-color);
  color: #fff;
}

.contact-details-back-button:active {
  transform: translateY(1px);
}

.background-issue {
  background-color: #fff;
}

.background-issue:hover {
  background-color: var(--vendor-hover-color);
  color: #fff;
}

.modal-made {
  display: block;
  position: fixed;
  padding-top: 25vh;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-made .modal-content-made {
  background-color: #fefefe;
  margin: auto;
  /* border: 1px solid #888; */
  width: 60%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-made .modal-content-made .header-modal {
  font-size: 20px;
  padding: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: var(--vendor-color);
  color: white;
}

.modal-made .modal-content-made .text-modal {
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  text-align: center;
}

.modal-made .modal-content-made .button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px;
  border-radius: 0 0 10px 10px;
}

.modal-made .modal-content-made .button-container button {
  border-radius: 50px;
  padding: 10px 0px;
  width: 75px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.cartItemsDiv {
  border: 1px solid #e8e6e6;
  border-radius: 10px;
}

.cart-card-product-div {
  display: flex;
  align-items: center;
  min-height: 110px;
  padding: 5px;
  cursor: pointer;
}

.cart-card-product-mainDiv {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: 70px auto;
  /* padding: 0 10px 10px; */
  align-items: center;
}

.product-detail-image {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.fashion-theme-border {
  border-radius: 0 !important;
}

.cart-cart-product-name {
  /* min-height: 30px; */
  display: flex;
  font-weight: 400;
  align-items: end;
  vertical-align: middle;
  font-size: 16px;
}

html[dir="rtl"] .cart-cart-product-name {
  font-size: 17px;
}

.cart-cart-product-offer {
  font-size: 13px;
  height: 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  color: #ce1414;
}

html[dir="rtl"] .cart-cart-product-offer,
html[dir="rtl"] .cart-cart-product-notes {
  font-size: 14px;
}

.cart-cart-product-notes {
  font-size: 13px;
  height: 20px;
  display: flex;
  align-items: center;
  color: #888888;
  font-weight: 300;
}

.cart-cart-product-quantity-div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* min-height: 20px; */
  padding-top: 5px;
}

.cart-card-product-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
  cursor: pointer;
}

html[dir="rtl"] .cart-card-product-quantity {
  direction: ltr;
}

.cart-card-quantity-button {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  font-weight: 600;
  font-size: 15px;
  /* padding-left: 1px; */
  /* padding-bottom: 1px; */
}

html[dir="rtl"] .cart-card-quantity-button {
  /* align-items: flex-end; */
  align-items: center;
  /* font-size: 11px; */
  /* padding-bottom: 5px; */
}

.cart-card-price-div {
  display: flex;
  gap: 5px;
  width: 17px;
  text-align: center;
  justify-content: center;
}

.cart-card-price-div {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

html[dir="rtl"] .cart-card-price-div {
  font-size: 16px;
}

.cart-card-price-maindiv {
  min-height: 30px;
  text-align: end;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: end;
}

.order-details-cart-disocunt {
  font-size: 10px;
  text-decoration: line-through;
  color: rgb(151, 151, 151);
  font-weight: 500;
}

.warning-text {
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #f00;
}

html[dir="rtl"] .warning-text {
  font-size: 16px;
}

.delivery-order-header {
  height: auto;
  padding: 8px 16px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(white)
  );
  background-image: -webkit-linear-gradient(white, white);
  background-image: -moz-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 3000;
  color: black;
}

.delivery-order-header .main-heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.27;
  -webkit-letter-spacing: 0.3px;
  -moz-letter-spacing: 0.3px;
  -ms-letter-spacing: 0.3px;
  letter-spacing: 0.3px;
  padding-bottom: 8px;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 0% !important;
  font-weight: 600;
  margin-top: 24px;
}

.delivery-order-header .sub-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.delivery-order-header .back-button {
  width: 20px;
  height: 20px;
}

.delivery-order-header .back-button:active {
  border: 1px solid black;
}

.delivery-order-header .delivery-order-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5rem;
}

.delivery-order-header .delivery-order-sub {
  display: inline-block;
  width: 100%;
  border-bottom: none;
  color: black;
}

.delivery-order-header .delivery-order-sub.mode-active {
  border-bottom: 1px solid;
  color: var(--vendor-color);
}

.delivery-order-header .delivery-order-sub p {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.33;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.delivery-order-header .delivery-order-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5rem;
}

html[dir="rtl"] .delivery-order-header .delivery-order-title {
  font-size: 20px;
}

.text-center {
  text-align: center !important;
}

.back-block-float {
  display: inline-block;
  float: left;
}

.back-button-div {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0 7px 14px rgb(0 0 0 / 20%);
}

.back-button-div .back-button {
  height: 20px;
  width: 20px;
}

.delivery-schedular-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px;
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.delivery-schedular-box .delivery-schedular {
  padding-top: 8px;
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.delivery-schedular-box .delivery-schedular .schedule-order {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.delivery-schedular-box .delivery-schedular .schedule-order .schedule-input {
  position: absolute;
  opacity: 0;
  height: 0px;
  width: 0px;
}

.delivery-schedular-box
  .delivery-schedular
  .schedule-order
  .order-schedule-check {
  position: relative;
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.schedule-input:checked + .order-schedule-check {
  background: var(--vendor-color) !important;
  border-color: var(--vendor-color) !important;
}

.delivery-schedular-box
  .delivery-schedular
  .schedule-order
  .order-schedule-check:after {
  content: "";
  position: absolute;
  opacity: 1;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: -webkit-calc(50% - 4px);
  top: -moz-calc(50% - 4px);
  top: calc(50% - 4px);
  left: -webkit-calc(50% - 4px);
  left: -moz-calc(50% - 4px);
  left: calc(50% - 4px);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.delivery-schedular-box .delivery-schedular .schedule-order .para-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.bottom-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  bottom: 0;
  padding: 0px 0px 8px;
  min-height: 53px;
  background-color: transparent;
}

.bottom-button-full {
  /* width: 100% !important; */
  width: 840px !important;
}

.bottom-button .checkout-button:active {
  background-color: var(--vendor-color-light);
}

/* .bottom-button .checkout-button:hover {
  background-color: var(--vendor-hover-color);
} */

.bottom-button .checkout-button {
  width: 100%;
  transition: all 0s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  font-size: 15px;
  -webkit-letter-spacing: -0.2px;
  -moz-letter-spacing: -0.2px;
  -ms-letter-spacing: -0.2px;
  letter-spacing: -0.2px;
  line-height: 1.27;
  min-height: 53px;
  padding: 14px 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  -webkit-text-decoration: none;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--vendor-color);
}

.bottom-button .guest-button:hover {
  background-color: var(--vendor-hover-color);
}

.bottom-button .fashion-checkout-page {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.delivery-detail-selected:active,
.bottom-button:active {
  /* background-color: var(--vendor-color-light); */
  transform: translateY(1px);
}

.orderHistoryMain {
  margin-top: 15px;
}

.monthText {
  font-size: 16px;
  font-weight: 500;
}

html[dir="rtl"] .monthText {
  font-size: 19px;
}

.historycard {
  border: 1px solid #e1e1e1;
  border-radius: 9px;
  padding: 15px 20px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.historyRow {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.orderNumber {
  font-size: 14px;
  font-weight: 500;
}

html[dir="rtl"] .orderNumber {
  font-size: 18px;
}

.orderStatusDiv {
  /* height: 25px; */
  padding: 2px 5px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
}

html[dir="rtl"] .orderStatusDiv {
  font-size: 13px;
}

.full-width-divider {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  margin: 10px 0;
}

.details-container {
  /* background-color: #f5f5f9; */
}

.details-container .order-details-div {
  background-color: white;
}

.details-container .product-outer-div {
  padding-left: 10px;
  background-color: white;
}

.details-container .product-outer-div .product-inner-div,
.branch-call-div,
.details-container .branch-inner-div {
  padding: 10px;
  background-color: white;
}

.details-container .product-outer-div .product-inner-div .product-category {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #616161;
  overflow-wrap: break-word;
  word-break: break-word;
}

.details-container
  .product-outer-div
  .product-inner-div
  .product-price-div
  .product-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.details-container
  .product-outer-div
  .product-inner-div
  .product-price-div
  .product-price
  del {
  font-size: 12px;
}

.sharewith {
  background: inherit;
  color: rgb(150, 150, 150) !important;
  float: right;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

html[dir="rtl"] .sharewith {
  float: left;
}

.details-container .product-outer-div .item-count-div .count-control-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.details-container .product-outer-div .product-inner-div .product-price-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* -webkit-box-pack: justify; */
  /* -webkit-justify-content: space-between; */
  /* -moz-box-pack: justify;
  -ms-flex-pack: justify; */
  /* justify-content: space-between; */
  /* display: grid; */
  /* grid-template-columns: 60% auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-container
  .product-outer-div
  .product-inner-div
  .product-price-div
  .product-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.details-container
  .product-outer-div
  .product-inner-div
  .product-price-div
  .product-price
  del {
  font-size: 12px;
}

.delivery-timming-order:active {
  background-color: #f5f6f6;
}

.delivery-timming-order {
  width: 100%;
  cursor: pointer;
}

.addon-hover {
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.addon-hover:hover {
  background-color: #f5f5f5;
}

.addons-style {
  float: left;
}

html[dir="rtl"] .addons-style {
  float: right;
}

.addon-child {
  margin-left: 25px;
  display: inline-block;
  max-width: 58% !important;
  font-size: 15px;
}

.addon-child-price {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  min-height: 28px;
  flex-shrink: 0;
}

.addon-child-price span {
  margin-right: 10px;
}

html[dir="rtl"] .addon-child-price span span {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

html[dir="rtl"] .addon-child {
  margin-right: 25px;
  margin-left: 0;
  font-size: 18px;
  font-weight: 600;
}

html[dir="rtl"] .addon-child-price {
  margin-left: 0;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
}

html[dir="ltr"] .addon-child-price span {
  margin-right: 0px;
  margin-left: 10px;
}

.checkmark-radio-l.checked {
  border: none;
  background-color: var(--vendor-color);
}

.checkmark-radio-l.checkedBox {
  border: none;
  background-color: var(--vendor-color);
}

.checkmark-radio-l.checked::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white;
}

.checkmark-radio-l.checkedBox::after {
  content: "\2713";
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.checkmark-radio-l {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  height: 20px;
  width: 20px;
  border: 2px solid var(--vendor-color);
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

html[dir="rtl"] .checkmark-radio-l {
  right: 25px;
}

.max-tab {
  font-size: 14px;
  padding: 1.5px 10px;
  border-radius: 25px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

html[dir="rtl"] .max-tab {
  font-size: 17px;
}

html[dir="rtl"] .max-tab span {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.required-text {
  font-weight: 400;
  font-size: 14px;
  /* padding: 1.5px 10px; */
  border-radius: 25px;
  color: #969696;
}

.details-container
  .product-outer-div
  .margin-bottom-div
  .product-notes-div
  .label-note {
  font-size: 13px;
  color: #999999;
  font-weight: 600;
  margin-bottom: 0;
}

.details-container
  .product-outer-div
  .margin-bottom-div
  .product-notes-div
  input {
  border-bottom: 1px solid #f6f7fb;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  padding: 8px 0px;
  color: black;
  width: 100%;
  line-height: initial;
}

.details-container
  .product-outer-div
  .margin-bottom-div
  .product-notes-div
  input:focus {
  outline: none;
}

.details-container
  .product-outer-div
  .margin-bottom-div
  .product-notes-div
  .label-note {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
  margin-bottom: 0;
}

.item-count-div .count-control-div .control-button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-count-div .count-control-div .control-button-div .control-button:active {
  border: 1px #dbdbdb solid;
  color: #dbdbdb;
}

.item-count-div .count-control-div .control-button-div .control-button:hover {
  border: 1px #dbdbdb solid;
}

.item-count-div .count-control-div .control-button-div .control-button {
  font-size: 16px;
  height: 31px;
  width: 31px;
  color: black;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-stretch: normal;
  font-style: normal;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* vertical-align: middle;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; */
  padding: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  line-height: 1;
  border: 1px solid black;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.item-count-div .count-control-div .control-button-div .quantity-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  -webkit-letter-spacing: -0.2px;
  -moz-letter-spacing: -0.2px;
  -ms-letter-spacing: -0.2px;
  letter-spacing: -0.2px;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 48px;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.horizontalProductLayoutClass {
  height: 100dvh;
}

.verticalProductLayoutClass {
  height: 500px;
}

label {
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.order-spinner-background {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.product-price-del {
  color: Red;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tab-content .tab-pane .delivery-select .delivery-detail-selected,
.checkout-step-two .delivery-details .delivery-select {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  gap: 30px;
  font-weight: 500;
  line-height: 1.33 !important;
}

.tab-content .tab-pane .delivery-select .delivery-detail-selected a {
  margin-bottom: 0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.tab-content .tab-pane .delivery-select .delivery-detail-selected a span,
.tab-content .tab-pane .delivery-select .delivery-detail-selected a i {
  font-size: 15px;
  color: var(--vendor-color);
  text-decoration: none;
}

.tab-content
  .tab-pane
  .delivery-select
  .delivery-detail-selected
  a
  .right-arrow {
  margin-right: 5px;
  margin-left: 20px;
  font-size: 27px;
  line-height: 0;
}
.checkoutScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.checkoutScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.carouselImage {
  border-radius: 13.81px;
}

.product-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.1px;
  color: #616161;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.inputFlag .ReactFlagsSelect-module_selectBtn__19wW7 {
  height: 44px;
  border-radius: 10px;
}

.inputFlag .ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0 !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
  min-width: 465% !important;
  max-height: 275px !important;
}

.showFlag-only {
  width: 25px;
}

.showFlag-only .ReactFlagsSelect-module_selectValue__152eS {
  padding: 0 !important;
  margin: 0;
}

.showFlag-only.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0 !important;
}

.showFlag-only .ReactFlagsSelect-module_selectBtn__19wW7 {
  width: auto !important;
}

.showFlag-only .ReactFlagsSelect-module_disabledBtn__3A4GF {
  background-color: #fff !important;
}

.showFlag-only .ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none !important;
  padding: 0 0 !important;
  height: 30px !important;
}

.showFlag-only .ReactFlagsSelect-module_selectBtn__19wW7:after {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: black; /* Change to your desired color */
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
  height: 1em;
  width: 1em;
  background-color: black; /* Change to your desired color */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  cursor: pointer;
}
