.buy-get-img:hover {
  color: black;
}

.buy-get-img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: black;
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  letter-spacing: -0.1px;
  text-align: center;
  line-height: 1.23;
  padding: 8px 12px;
  justify-content: center;
  min-height: 32px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buy-get-img:active {
  border: 1px solid #dbdbdb;
}
